.cp-tab-container {
    padding-bottom: 128px;
    .cp-tab {
        position: relative;
        padding-left: 192px;
        .tab-head-bar-con {
            position: absolute;
            left: 0;
            top: 0;
            width: 192px;
            @media only screen
              and (max-device-width: 480px)
              and (-webkit-min-device-pixel-ratio: 2)
              and (orientation: portrait) {
                position: static;
                left: 0;
                top: 0;
                padding: 0px 0px;
                margin: 0px 0px;
                width: inherit;
            }
            .tab-head-bar {
                @media only screen
                  and (max-device-width: 480px)
                  and (-webkit-min-device-pixel-ratio: 2)
                  and (orientation: portrait) {
                    text-align: center;
                }
                .tab-head-step {
                    position: relative;
                    padding: 24px 16px;
                    transition: ease 0.4s;
                    opacity: 0.6;
                    cursor: pointer;
                    border: 1px #fff solid;
                    border-right: 1px #fff solid;
                    @media only screen
                      and (max-device-width: 480px)
                      and (-webkit-min-device-pixel-ratio: 2)
                      and (orientation: portrait) {
                        display: inline-block;
                        margin-bottom: 16px;
                        padding: 2px 16px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .cp-data-active {
                    opacity: 1;
                    background: #fff;
                }
            }
        }
        .cp-tab-content-con {
            padding: 32px 32px 92px 32px;
            min-height: 500px;
            background-color: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            .cpData-slide {
                display: none;
            }
            .cp-data-active {
                display: block !important;
            }

            h4, h5 {
                color: #666;
                text-transform: uppercase;
                line-height: 32px;
                margin-top: 0;
            }
        }
    }
}
