.post-head {
    text-align: center;
    font-size: 22px;
    margin: 30px 3%;
}

.port-container {
    opacity: 0.9;
    margin-top: 0px;
    margin: 0 20%;
    min-height: 100%;
    height: auto;
    @media screen and (max-width: 700px) {
        margin: 0 0 !important;
        width: auto;
        height: auto;
    }
}

.post {
    margin: 1%;
    background-color: #edeff0;
    border-bottom: 2px solid #dddddd;
    border-radius: 4px;
    padding: 20px 20px;
    min-height: 200px;
    width: 30%;
    display: inline-block;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
    p {
        line-height: 1.4;
    }
    a {
        color: #000;
        cursor: pointer;
        &:hover {
            color: lighten(#000, 50%);
            cursor: pointer;
            transition: all .25s;
        }
    }
    .post-description{
        max-height: 10em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .main-link {
        color: #000;
        cursor: pointer;
        padding: 0 1em;
        &:hover {
            color: lighten(#000, 50%);
            cursor: pointer;
            transition: all .25s;
        }
    }
    .post-title{
        width: auto;
        font-weight: bold;
        font-size: 1.33em;
    }
    .post-img {
        display: inline-block;
        width: 100%;
        height: auto;
        @media screen and (max-width: 700px) {
            max-width:100%;
            max-height:100%;
            width: auto;
            height: auto;
        }
    }
    .post-date {
        width: auto;
        border-bottom: 1px solid #e2e5e8;
    }
    .post-read {
        border-top: 1px solid #e2e5e8;
    }
}
