.survey {
    margin: 0 20%;
    width 80%;
    background-color: #fff;
    opacity: 0.95;
}

html {
    background-color: rgba( 15, 154, 208, 0.966 );
    font-family: sans-serif;
}

.hide {
    display: none;
}

img {
    height: 250px;
    width: 250px;
}
