/* ------------------- */
html {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 100%;
    animation: fadeIn 0.1s ease-in;
}

body {
    background-image: url("img/snow.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0 auto 0 auto;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

img {
    background: url(160x90.jpg);
    width: 100%;
    transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
    outline: 3px solid #000;
    outline-offset: -3px;
}
/* ------------------- */

/* -------MENU-------- */
ul, li {
    z-index: 100;
}
.menu {
    background:#00838F;
    padding:0;
    margin:0;
    list-style-type:none;
    height:48px;
}

.menu li {
    float:left;
    width: 149px;
}
.menu li a {
    padding:15px 40px;
    display:block;
    color:#fff;
    text-decoration:none;
}

/* Submenu */

.menu ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
    width: 149px;

}
.menu li:hover {
    position:relative;
    background:#00BCD4;
    transition: all 0.5s;

}
.menu li:hover ul {
    left:0px;
    top:48px;
    padding:0px;

}

.menu li:hover ul li a {
    padding:10px;
    display:block;
    width:130px;
    text-indent:15px;
    background-color:#00838F;
    animation: slideFromLeft  0.5s;

}
.menu li:hover ul li a:hover {
    background:#00BCD4;
    border-bottom: 2px solid #2962FF;
}

#input {
    width: 20px;
    height: 20px;
    border: 2px solid #8a8a8a;
    border-radius: 7px;
    transition: 0.4s;
}

#input:focus {
    transition: 0.4s;
    width: 200px;
    outline: none;
    box-shadow: 0 0 1px #2962FF;
    border-color: #2962FF;
}

/* ------------------- */


/* ------------------- */

.inhoud {
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline-block;
    height: 100%;
}

.container{
    line-height: 120%;
    opacity: 0.9;
    padding-top: 45px;
    background-color: #ffffff;
    z-index: 10;
    height: 100%;
}

.search {
    padding-top: 12px;
    color:#fff;
    text-indent:50px;
}
.boe {
    opacity: 0;
}

.boe:hover {
    animation: 0.5s fadeIn ease-in;
    opacity: 1;
}

.woesh {
    transition-delay: 5s;
}

.woesh:hover {
    transition-delay: 2s;
    animation: 2s goAwayRight ease-in;
}
/* ------------------- */


/* ------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideFromLeft{
  from {
    transform: translatex(-1000%);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes goAwayRight{
  from {
    transform: translatex(0);
  }
  to {
    transform: translatex(1000%);
  }
}
@-webkit-keyframes shaky {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}

/* -----FadeIn Articles--------- */

@-webkit-keyframes fadeInLinks {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 0.610, 0.3, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInLinks {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
 .complete {
    border-style: solid;
    border-width: 1px;
    border-color: #887788);
    border-radius: 1px;
    margin: 0 8px 0 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.fadeMeestLinks {
    -webkit-animation: fadeInLinks 0.25s 1;
    animation: fadeInLinks 0.25s 1;
}
.fadeLinks {
    -webkit-animation: fadeInLinks 0.50s 1;
    animation: fadeInLinks 0.50s 1;
}
.fadeRecht {
    -webkit-animation: fadeInLinks 0.75s 1;
    animation: fadeInLinks 0.75s 1;
}
.fadeMeestRechts {
    -webkit-animation: fadeInLinks 1s 1;
    animation: fadeInLinks 1s 1;
}
.artikel {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.samenvatting {
    font-weight: bold;
    flex: 1;
    display: flex;
}
.inhoudArtikel {
    flex: 1;
    display: flex;
}
.underline {
    color: #263238;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    width: auto;
    text-align: center;
}
.underline:hover {
    color: #FF5722;
    -webkit-animation: 0.2s shaky;
    -webkit-animation-duration: ;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

